@import url(../styles/header.css);
@import url(../styles/landing.css);
@import url(../styles/metricas.css);
@import url(../styles/vagas.css);
@import url(../styles/cargos.css);
@import url(../styles/depoimentos.css);
@import url(../styles/formulario.css);


:root{
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-escuro: #3A404E;
    --marsala: #8E2424;
    --fonte-principal: 'Inter';
    --preto: #101828;
    --fundo-claro:  rgba(142, 36, 36, 0.05);



}

body{
    font-family: var(--fonte-principal);
}